
<style>

.app{
  display: flex;
  align-items: center;
}

  :host {
    font-family: "Segoe UI";
    font-size: 14px;
    color: #333;
  }



  .toolbar {

    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    align-items: center;
    background-color: #222c4d;
    color: white;
    font-weight: 600;
    text-align: center;
    align-content: center;
  }

  .sim{
    position: relative;
  }

</style>

<div clss="app">

  <div class="toolbar">
    <h1 >
      Virus simulation
    </h1>
  </div>

  <app-simform></app-simform>
</div>
<router-outlet></router-outlet>

